.body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #e0e0e0; 
}

h1 {
  font-size: 3.0rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
}

h2 {
  font-size: 2.5rem;
  margin-top : -5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
}

h3 {
  font-size: 2rem;
  margin-top : 0px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
}

h4 {
  font-size: 1.5rem;
  margin-top : 0px;
  margin-bottom: 8px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
}

.nice-button, .back-button, .button {
  padding: 8px 16px;
  background-color: #1e88e5; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

.nice-button:hover, .back-button:hover, .button:hover {
  background-color: #1565c0; 
}

.cancel-button {
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b71c1c; 
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.success {
  background-color: #2e7d32; 
  color: #ffffff;
  font-family: 'Roboto', sans-serif; 
}

.failure {
  background-color: #c62828; 
  color: #ffffff;
  font-family: 'Roboto', sans-serif; 
}

.container {
  width: 100%;
  max-width: 65%;
  margin: 20px auto;
  padding: 20px;
  background-color: #263238;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.label-style {
  display: block;
  font-size: 2rem; 
  color: #e0e0e0; 
  margin: 0.5em 0;
  margin-right: 30px;
  transition: all 0.3s ease;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.input-style {
  display: block;
  font-size: 1.5rem; 
  color: #e0e0e0; 
  margin: 0 0;
  margin-right: 30px;
  transition: all 0.3s ease;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.right {
  margin-left: auto; 
}


