<div class="registration-form container">
  <label class="label-style" >Task Management Application Registration</label>
  <input type="text" placeholder="Enter author name" {{on "input" this.updateAuthorName}} />
  <button type="button" class="button" {{on "click" this.registerAuthor}}>Register Author</button>
  <br><br>

  <div class="{{if this.isSuccess "success" "failure"}}">
  {{this.registrationMessage}}
  </div>
  
</div>