<div class="registration-form">
  <h2>Task Management Application Registration</h2>
  <input type="text" placeholder="Enter author name" {{on "input" this.updateAuthorName}} />
  <button type="button" {{on "click" this.registerAuthor}}>Register Author</button>
  <br><br>

  <div class="{{if this.isSuccess "success" "failure"}}">
  {{this.registrationMessage}}
  </div>
  
</div>