{{page-title "Tasks"}}
<div class="container">
<br><br>
    <h2>{{this.globalState.authorName}}, welcome to Task Management Portal</h2>

    <LinkTo @route="createTask" class="nice-button label-style">Create New Task</LinkTo>

    
    <LinkTo @route="view-task" class="nice-button label-style">View Particular Task</LinkTo>

  
    <LinkTo @route="view-alltask" class="nice-button label-style">View All Task</LinkTo>


    <LinkTo @route="update-task" class="nice-button label-style">Update Task</LinkTo>

   
    <LinkTo @route="delete-task" class="nice-button label-style">Delete Task</LinkTo>

    <button class="cancel-button label-style right" type="button" {{on "click" this.goBack}}>Log Out</button>
</div>
{{outlet}}
